数据导入

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("station-data\\PRSA_Data_Tiantan_20130301-20170228.csv")
# 合并时间列
df['Date'] = df['year'].astype(str) + '-' + df['month'].astype(str) + '-' + df['day'].astype(str) + '-' + df['hour'].astype(str)

# 将合并后的列转换为日期时间类型
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d-%H')

df.sort_values(by=['Date'], inplace=True, ascending=True)

df = df[['Date', 'TEMP']].copy()

df.head()

                 Date  TEMP
0 2013-03-01 00:00:00  -0.5
1 2013-03-01 01:00:00  -0.7
2 2013-03-01 02:00:00  -1.2
3 2013-03-01 03:00:00  -1.4
4 2013-03-01 04:00:00  -1.9

数据预处理

1.处理缺失值

In [3]:
print(df.isnull().sum())    # 返回每一列中的缺失值（NaN）的数量
print(df.isnull().any(axis=1))  # 返回一个布尔序列，标识每一行是否含有缺失值
print(df.iloc[105])   # 查看具体某一行的值，可以通过索引或者iloc属性来实现
print(df.iloc[106])

No            0
year          0
month         0
day           0
hour          0
PM2.5       677
PM10        597
SO2        1118
NO2         744
CO         1126
O3          843
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
Date          0
dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
35059     True
35060     True
35061    False
35062    False
35063    False
Length: 35064, dtype: bool
No                         106
year                      2013
month                        3
day                          5
hour                         9
PM2.5                    114.0
PM10                     133.0
SO2                       93.0
NO2                       86.0
CO                      3200.0
O3                        99.0
TEMP                       6.7
PRES                    1014.5
DEWP                      -8.9
RAIN                       0.0
wd                           E
WSPM                       1.3
station                Tiantan
Date       2013-03-05 09:00:00
Name: 105, dtype: object
No                         107
year                      2013
month                        3
day                          5
hour                        10
PM2.5                    127.0
PM10                     154.0
SO2                       86.0
NO2                      105.0
CO                      3399.0
O3                        99.0
TEMP                       9.1
PRES                    1013.8
DEWP                      -8.5
RAIN                       0.0
wd                           E
WSPM                       0.9
station                Tiantan
Date       2013-03-05 10:00:00
Name: 106, dtype: object